* {
  margin: 0;
  padding: 0;
  background-color: rgb(16, 13, 13);
  color: white;
}

html,
body {
  font-family: 'Montserrat Alternates', sans-serif;
}

ul {
  list-style-type: none;
  margin: 1em;
}

li {
  margin: .3rem;
}
span{
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70ch;
}
button {
  cursor: pointer;
  margin: 0 0.6em;
  padding: 0.2em ;
  width: 90px;
  border: 1px solid white;
  border-radius: 1rem;
}

button:hover{
  background-color: rgb(186, 190, 190);
}

button:focus{
  background-color: rgb(186, 190, 190);;
}

.add, .search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .3rem 0;

}

select{
  cursor: pointer;
}

label{
  width : 20vh;
    overflow:hidden;
    text-overflow: ellipsis;  
    white-space: nowrap;
  margin-left: .5rem;
}

input[type='text'] {
  border: 2px solid whitesmoke;
  border-radius: 10px;
  font-size: large;
}
.upc{
  display: flex;
  
}
.nodata{
  display: block;
  margin: 1em;
  width: 70vw;
}
.todo-header {
  text-align: center;
  margin: 1em 0;
  
}
.body-container {
  margin: 1rem 4rem;
}

input.js-todo-input {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchouter {
  width: auto;
}

.btn-container {
  margin: .5rem;
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  flex-wrap: wrap;
}
.actions-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.6rem;
  align-items: center;
}

.sort-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.6rem;
}

.todo-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
  width: 100%;
  height: auto;
  overflow: scroll;
}
.lists{
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.btns{
  display: flex;
  justify-content: space-evenly;
}